.cart-items-list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20;
}

.cart-item{
    border: 1px solid rgb(83, 83, 83);
    padding: 20px 30px;
    border-radius: 10px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-page{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.margin-y{
    margin: 30px 0;
}

.cart-total{
    color: #404688;
}

.order{
    width: 100%;
    padding: 20px;
    display: none;
    opacity: 0;
}
.cart{
    width: 100%;
    transition-duration: .2s;
    opacity: 0;
}

.order-form h1 {
    text-align: center;
}

.order-form .form-group {
    margin-bottom: 20px;
}

.order-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.cart-item-quantity input{
    width: 100px;
}

.cart-item {
    border: 1px solid #404688;
}

.form-control, .form-select {
    color: #E8EEF1;
    background: #40468846;
    border: hidden;
}

option {
    color: #91b7d4;
    background: #1C2541;
}

.form-control::placeholder, .form-select::placeholder {
    color: #E8EEF1;
}

.custom-toggler{
    background: none;
    transition: background .1s linear;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}

.custom-toggler:active{
    background: #1C2541;
    transition: background .1s linear;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}

.cart-item-price {
color: #91b7d4;
}

@media (max-width: 720px) {
    .cart-page{
        flex-wrap: wrap;
    }
}