@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 18px;
}

body {
    background-color: #1B1520;
    color: #E8EEF1;
    font-family: "Arsenal", monospace;
    margin: 0px;
    /* забираємо стандартні відступи в тега body */
}


header{
    background: #404688;
}
.btn-search{
    border-radius: 30px;
}

.form-control {
    color: #E8EEF1;
    background: #40468846;
    border: hidden;
}

.banner {
    width: 100%;
    height: 90vh;
    background-image: url('../img/banner.png'), linear-gradient(to right, #404688, #1C2541);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E8EEF1;
    flex-direction: column;
}

h1 {
    font-family: "Aoboshi One", monospace;
}

.banner h1 {
    font-size: 3rem;
    text-align: center;
}

/* Стилі карточок взято з 4 уроку 2 модуля (сайт за макетом)  */

.my-card {
    padding: 28px;
    background: transparent;
    transition: background .2s linear;
    border-radius: 10px;
    max-width: 350px;
}

.my-card:hover {
    background: #E8EEF1;
    cursor: pointer;
    transition: background .2s linear;
    color: #404688;
}

.light-theme .my-card:hover {
    background: #E8EEF1;

}

.text-my-card {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}

.description-card {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 0.8rem;

}

.price-card {
    font-size: 1rem;
    line-height: 1rem;
    /* 120% */
    color: #91B7D4;
    display: flex;
    gap: 5px;
    align-items: center;
}

.my-card img {
    width: 244px;
    height: 214px;
    object-fit: contain;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}

.container-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

footer {
    margin-top: 50px;
    padding: 230px 100px 20px 100px;
    text-align: center;
}

footer {
    color: #404688;
    background-image: url(../img/footer.png);
    background-size: cover;
    font-family: 'Aoboshi One', monospace;
    font-size: 0.8rem;
    width: 100%;
}

.attribution {
    color: #404688;
    font-size: 12px;
}

.attribution a {
    color: #404688;
}

/* Проста анімація появи тексту */

header.fixed {
    position: fixed;
    /* Фіксоване позиціонування */
    top: 0;
    /* Закріплено зверху */
    width: 100%;
    /* Ширина за всю ширину вікна */
    background: #1B1520;
    max-width: 100%;
    z-index: 100;
}

.nav-link {
    color: #E8EEF1;
    padding: 10px;
}

.nav-link:hover {
    color: #404688;
    font-weight: bold;
}

.btn-custom {
    color: #E8EEF1;
    border: solid 1px #E8EEF1;
    border-radius: 30px;
    font-family: 'Aoboshi One', monospace;
    font-size: 0.7rem;
}

.btn-custom:hover {
    color: #E8EEF1;
    border: solid 1px #91B7D4;
    background: #91B7D4;
    border-radius: 30px;
}

.custom-toggler{
    background: none;
    transition: background .1s linear;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}

.custom-toggler:active{
    background: #1C2541;
    transition: background .1s linear;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}

.icon-custom{
fill: #404688;
}

/* Кнопка Кошик */
/* Код взято з https://uiverse.io/vinodjangid07/ordinary-swan-71 */

.cart-btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #91B7D4;
    border-radius: 30px;
    color: #E8EEF1;
    font-weight: 600;
    font-size: 0.9em;
    font-family: 'Aoboshi One', monospace;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}

.bell {
    width: 25px;
}


.cart-btn:hover {
    background: #E8EEF1;
    border: solid 2px #91B7D4;
    color: #91B7D4;
}

.cart-btn:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

.cart-btn div {
    position: relative;
}

.cart-counter {
    background: #E8EEF1;
    font-family: 'Arsenal', monospace;
    font-size: small;
    color: #404688;
    border-radius: 100px;
    padding: 0 .2em;
    position: absolute;
    /* Змініть позицію на абсолютну */
    top: 0;
    /* Відступ зверху */
    right: 0;
    /* Відступ справа */
}